.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #66D3FA;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    z-index: 1000;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }
  
  .container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .actions {
    display: flex;
    align-items: center;
    margin-right:50px ;
  }
  
  .links {
    display: flex;
    gap: 40px;
  }
  
  .link {
    text-decoration: none;
    font-size: 1.4rem;
    color: white;
    transition: color 0.3s ease;
  }
  
  .link:hover {
    color: #0051ff;
  }
  
  .hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
  }
  
  .bar {
    width: 25px;
    height: 3px;
    background-color: currentColor;
    border-radius: 5px;
  }

  .infoOuterDiv{
    margin-top: 120px;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    
  }

  .introImage{
    width: 90%;
    height: 600px;
    border-radius: 12px;
  }

  .headingDiv{
    width: 90%;
  }

  .paraDiv{
    margin-top: 5px;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .contentDiv1{
    width:90%;
  }

  .contentDiv2{
    width:100%;
  }

  .fs{
    font-size: 22px;
  }

  .roomOuterDiv{
    width: 100%;
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
  }

  .roomtypes{
    width: 90%;
    height: auto;
  }

  .types{
    width: 100%;
    margin-top: 5%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .rooms{
    width: 20%;
    height: auto;
    position: relative;
    background-color: #00bbff;
    border-radius: 20px;
    float: left;
    margin-left: 4%;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: transform 0.3s;
  }

  .rooms:hover{
    transform: scale(1.1);
    background-color: #0084ff;
  }

  .idi {
    width: 100%;
    height: 170px;
    border-radius: 12px 12px 0px 0px;
  }

  .details{
    margin-bottom: 17%;
    font-size: 20px;
    font-weight: 400;
    color: white;
  }

  .botn {
    height: 40px;
    width: 50%;
    background-color: #1eca00;
    color: black;
    border: none;
    border-radius: 6px;
    opacity: 0.9;
    margin-bottom: 5%;
    transition: background-color 0.3s;
  }

  .botn:hover{
    cursor: pointer;
    background-color: rgb(0, 255, 0);
    opacity: 1;
  }

  .activitesOuterDiv{
    margin-top: 20%;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .actTypesOuter{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .activites{
    width: 90%;
    height: auto;
    min-height: 100px;
    margin-top: 4%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10%;
  }

  .actImgDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    color: #66D3FA;
  }

  .imii {
    width: 500px;
    height: 60%;
    border-radius: 20px;
    transition: transform 1s;
  }

  .imii:hover{
    transform: scale(1.1);
  }

  .eventsOuter{
    width: 100%;
    height: auto;
    margin-top: 10%;
    justify-items: center;

  }

  .events {
    width: 90%;
    height: auto;
    margin-top: 2%;
    border-radius: 12px;
    background-image: url("./dn.jpg"); 
    background-size: cover; 
    background-position: center; 
  }

  .eventsinfo{
    padding: 5%;
    color: white;
    font-size: 20px;
    line-height: 3rem;
    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  }

  .knowMore{
    margin-top: 4%;
    width: 100%;
  }

  .but {
    background-color: black;
    color: white;
    width: 8%;
    max-width: 120px;
    height: 40px;
    margin-left: 5%;
    border-radius: 7px;
    opacity: 1;
  }

  .but:hover {
    box-shadow: 0px 0px 20px rgb(255, 255, 0);
    cursor: pointer;
  }

  .message{
    margin-top: 10%;
    width: 100%;
    text-align: center;
  }

  .footerOuterDiv{
    width: 100%;
    background-color: black;
    color: white;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
  }

  .footerContent{
    margin-top: 4%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
  }

  .footerContentIcons{
    margin-top: 7%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin-bottom: 5%;
  }


  .footerLinksCaption{
    text-align: center;
    width: 100%;
  }


  .footerLinks{
    text-align: center;
    width: 100%;
  }


  .footerIcons{
    text-align: center;
    width: 100%;
  }

  .footerIcons:hover,
  .footerLinks:hover
  {
    cursor: pointer;
  }








  @media(max-width:1150px)
  {

    .activites{
      width: 90%;
      height: auto;
      min-height: 100px;
      margin-top: 4%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 5%;
    }
    .imii {
      width: 350px;
      height: 60%;
      border-radius: 20px;
      transition: transform 1s;
    }

    .but {
      width: 20%;
    }

  }









  @media(max-width:1000px)
  {
    .idi {
      width: 100%;
      height: 120px;
      border-radius: 6px;
    }

    .rooms{
      border-radius: 6px;
    }
  
    .details{
      margin-bottom: 15%;
      font-size: 12px;
    }
  
    .botn {
      height: 25px;
      width: 60%;
      font-size: 10px;
      border-radius: 4px;
      color: black;
    }

    .eventsinfo{
      font-size: 18px;
      line-height: 2rem;
    }
  
  }


  @media(max-width: 800px)
  {

    .imii {
      width: 250px;
      height: 60%;
      border-radius: 20px;
      transition: transform 1s;
    }
    
    .link {
        text-decoration: none;
        font-size: 1.1rem;
    }

    .links {
        display: flex;
        gap: 20px;
      }

    .headingDiv{
        text-align: center;
        font-size: 14px;
      }


    .introImage{
        width: 90%;
        height: 400px;
    }

    .fs{
      font-size: 20px;
    }

    .eventsinfo{
      padding: 5%;
      color: white;
      font-size: 18px;
      line-height: 2rem;
      text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    }
    
  }









  
  @media(max-width: 600px) {
    .navbar {
      height: 60px;
    }
    
    .logoImg{
      height: 55px;
    }
    
    .links {
      flex-direction: column;
      position: absolute;
      top: 100%;
      right: 0px;
      background-color: inherit;
      width: 100%;
      transform: translateY(-20%);
      opacity: 0;
      pointer-events: none;
      padding: 1rem 0;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
      transition: 0.3s;
      background-color: #3758ff;
    }
  
    .link{
        margin-left: 10px;
    }
    .links.active {
      transform: translateY(0);
      opacity: 1;
      pointer-events: auto;
    }
  
    .hamburger {
      display: flex;
    }

    .link:hover {
        color: #00ff22;
      }

    .infoOuterDiv{
        margin-top: 80px;
    }
    

    .headingDiv{
      text-align: center;
      font-size: 10px;
    }

    .introImage{
      width: 95%;
      height: 250px;
  }

  .fs{
    font-size: 16px;
    text-align: justify;
  }
    
  .idi {
    width: 100%;
    height: 80px;
    border-radius: 6px;
  }

 


  .rooms{
    border-radius: 6px;
  }

  .details{
    margin-bottom: 15%;
    font-size: 7px;
  }

  .botn {
    height: 22px;
    width: 60%;
    font-size: 7px;
    border-radius: 4px;
    color: black;
  }

  .imii {
    width: 150px;
    height: 60%;
    border-radius: 20px;
    transition: transform 1s;
  }

  .activitesOuterDiv,
  .eventsOuter{
    margin-top: 20%;
  }



  .eventsinfo{
    font-size: 12px;
    line-height: 1.2rem;
  }

  .actImgDiv{
    font-size: 10px;
  }

  .but {
    width: 30%;
  }

  .footerOuterDiv{
    font-size: 12px;
    margin-top: 10%;
  }

  .footerContent{
    margin-top: 10%;
    width: 95%;
    margin-bottom: 3%;
  }

  .footerContentIcons{
    margin-top: 14%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin-bottom: 10%;
  }

  .message{
    margin-top: 20%;
    font-size: 14px;
  }


  }
  







  @media(max-width:370px)
  {

    .details{
      margin-bottom: 15%;
      font-size: 6px;
    }

  }
